body {
  min-width: 400px;
  overflow-x: hidden;
  margin: auto;
  background-color:rgb(225,225,225);
}

.main_div {
  height: 100%;
  width: 100%;
  margin: 5px;
}

#myform {
  width: 200px;
  position: relative;  
  margin: auto;
}

input {
  padding: 0 20px 0 0;
}

#oyy3 {
  margin-left: 49px;
}
